<phpunit bootstrap="./bootstrap.php">
    <testsuite name="Application Test Suite">
        <directory>/var/www/GeraAta/application/</directory>
    </testsuite>
    <testsuite name="Library Test Suite">
        <directory>/var/www/GeraAta/library/</directory>
    </testsuite>
    
    <filter>
        <!-- If Zend Framework is inside your project's library, uncomment this filter -->
        <!-- 
        <whitelist>
            <directory suffix=".php">../../library/Zend</directory>
        </whitelist>
        -->
	<whitelist>
	    <directory suffix=".php">/var/www/GeraAta/application/</directory>
	    <directory suffix=".php">/var/www/GeraAta/library/</directory>
	    <directory suffix=".php">/var/www/GeraAta/library/Zend/</directory>
	    <exclude>
		<directory suffix=".phtml">/var/www/GeraAta/application/</directory>
		<file>/var/www/GeraAta/application/Bootstrap.php</file>
	    </exclude>
	</whitelist>
    </filter>
    <logging>
	<log type="coverage-html" target="./log/report" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50" highLowBound="80"/>
        <log type="testdox" target="./log/testdox.html"/>
    </logging>
</phpunit>
